.container {
  padding: 0 25px;
  margin: 0 auto;
}

@media(min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media(min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media(min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media(min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media(min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn {
  border: 0;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 12px;
  box-shadow: none;
  text-transform: uppercase;
}

.btn-blue {
  color: #fff;
  background-color: #1b7cff;
}

.btn-blue-dark {
  color: #fff;
  background-color: #064497;
}

.disp-flex {
  display: flex;
}

.title-color {
  background: linear-gradient(90deg,#ff9e00,red 30.93%,#b5007d 61.67%,#21429c 88.09%,#0071ff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 20px;
}